
/* Estilo para o conteúdo do modal */
.modalRegistro {
    background-color: #fefefe; /* Cor de fundo do conteúdo */
    margin: 15% auto; /* Margem para centralizar o modal */
    padding: 20px; /* Espaçamento interno */
    width: 80%; /* Largura do conteúdo do modal */
}
/* Estilo para o botão de fechar */
.close {
    color: #aaa; /* Cor do botão de fechar */
    float: right; /* Alinha à direita */
    font-size: 28px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
}
/* Estilo para o botão de fechar quando o mouse estiver sobre ele */
.close:hover,
.close:focus {
    color: black; /* Cor preta */
    text-decoration: none; /* Remove sublinhado */
    cursor: pointer; /* Altera o cursor para pointer */
}